@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

/* font-family: 'Roboto', sans-serif; */
body {
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif
}

/* header styles */
.header {
    background-color:aliceblue;
    padding-bottom: 50px;
}

.logo-image {
    width: 250px;
    height: auto; 
}

.top-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.links {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin: 0;
}
.description-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.text {
    font-size: 24px;
}

.desc-image {
    width: 500px;
    height: auto;
    border: 7px solid slateblue;
    border-radius: 25px;
}

.sign-up, .pre-footer-signup {
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

/* information styles */

h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    align-items: center;
}

.item img {
    border: 7px solid slateblue;
    border-radius: 25px;
    width: 300px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

/* quote styles */

.quote {
    background-color:lightcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
}

.quote-text {
    font-size: 24px;
}

.quote-author {
    font-size: 18px;
    font-weight: 900;
}

/* pre-footer styles */

.pre-footer {
    margin: 80px 400px;
    background-color: #3882F6;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.pre-footer-signup-text {
    font-size: 20px;
}

.pre-footer-signup{
    border: 2px solid whitesmoke;
} 

/* footer styles */

.footer {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}